img {
  object-fit: cover;

}

.deb-slogan {
  position: relative;
  text-align: left;
  color: white;
  font-size: 30px;
}

.navbox-mission {
    background-color: #f5f5f5;
    display: contents;
}

.navbox-part {
    background-color: #f5f5f5;
    margin: 100px;
    height: 50vh;
}

.debmission-text {
  color: #1F5804;
  margin: 40px;
  top: 85px;
  position: relative;
}

.mission-text {
  font-size: 20px;
}

.opp-text {
  font-size: 30px;
}

.deb-text {
  font-size: 20px;
}

.imgnav {
    float: left;
    left: -18vh;
    position: relative;
    top: -85px;
    transform: scale(1.2);
    // clip-path: inset(0px 27px 0px 17vh);
}

.imgzoom {
    float: right;
    left: 0px;
    position: relative;
    // clip-path: inset(0px 196px 0px 50px);
}

.debvision-text {
color: white;
text-align: right;
}

.vision-text {
font-size: 20px;
}

.ed-text {
font-size: 30px;
}

.bio-text {
font-size: 20px;
}

.partners {
  color: #1F5804;
  font-size: 30px;
  text-align: center;
}
