.deb-slogan {
  position: relative;
  text-align: left;
  color: white;
  font-size: 60px;
}

.row {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.mission-text {
  text-align: left;
  color: #1F5804;
  padding: 25px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mission-title {
  font-size: 20px;
}

.opp-text {
  font-size: 30px;
}

.deb-text {
  font-size: 20px;
}

.visionrow {
  background-color: #1F5804;
}

.debvision-text {
color: white;
text-align: right;
padding: 25px;
}

.vision-title {
font-size: 20px;
}

.ed-text {
font-size: 30px;
}

.bio-text {
font-size: 20px;
}

// .partners {
//   color: #1F5804;
//   font-size: 30px;
//   text-align: center;
// }
