<div class="banner" background-color="green">
  <h1><strong>Support Digital Education Bridge</strong></h1>
</div>

<div class="signup-content">
  <div class="signup-header">
    <h2>Become a member of the Digital Education Bridge e.V.</h2>
    <p>Join us to get involved in projects, follow our development and support us in scaling DEB.</p>
    <p>Currently the association does not require membership fees.</p>
  </div>

  <%= render 'form' %>

  <div class="donate-header" style="margin-top: 20px;">
    <h2>Donate to Digital Education Bridge e.V.</h2>
    <div class="donate-content p-4" style="background-color: #f0f0f0">
      <p class="comingsoon">         Coming soon...</p>
    </div>
  </div>
</div>
