<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-left">
        <%= link_to do %>
          <%= image_tag "DEB-preliminary-logo.png", alt: "DEB Logo", style: "width: 50px; height: auto;" %>
        <% end %>
      </div>

      <div class="col text-center">
        <div class="footer-links">
          <%= link_to "Legal notice", legalnotice_path, class: "nav-link" %>
          <span class="separator"> | </span>
          <%= link_to "Data declaration", dataprotection_path, class: "nav-link" %>
        </div>
      </div>

      <div class="col text-right">
        <p>contact: info@digitaleducationbridge.org</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center copyright-text">
        <p>© 2024 Digital Education Bridge e.V. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
