<div class="banner" background-color="green">
  <div class="container">
    <h1><strong>About us</strong></h1>
  </div>
</div>

<div class="text-container">
  <div>
    <h2>
    Digital Education Bridge e.V. is a fully remote NGO and registered as an association in Berlin, Germany.
    </h2>
    <h2>
    DEB's aim is to offer free remote education to batches of promising teenagers in developing countries.
    </h2>
    <h2 class="title-about">
    Who we are
    </h2>
    <p>
    Digital Education Bridge has been founded by a group of young Europeans and Latin Americans. We aim to offer new perspectives and opportunities to promising children and teenagers from developing countries. Our members believe in creating prosperity for people through the power of education.
    </p>

    <h2 class="title-about">
    History
    </h2>
    <p>
    The idea of offering free remote classes to children was been born during the global pandemic in 2020. As universities and schools switched to remote classes, it became clear that remote education is possible if necessary.

    Having experienced first-hand that many teenagers in Nicaragua lack the opportunity of learning English, the chairman of NGO decided to organise a remote English class for 9 children. This pilot project turned out to be successful - but to finance and scale future batches, the incorporation of an NGO was needed.

    DEB’s first projects in 2024 are a continuation of the English class, offering the A1 level three times a week for 3 months to chosen batches of teenagers.
    </p>

  </div>
</div>
