<div class="banner" background-color="green">
  <div class="container">
    <h1><strong>Data protection declaration</strong></h1>
  </div>
</div>

<div class="text-container">
  <div class="textcontent">
    <h2>
    Datenschutzerklärung
    </h2>

    <p>
    Digital Education Bridge e.V. hat satzungsgemäß die Aufgabe, die Entwicklungszusammenarbeit mithilfe von kostenlosem online-Unterricht zu fördern. Damit wir diese Aufgabe wahrnehmen können, verarbeiten wir personenbezogene Daten von Ihnen. Der Schutz Ihrer personenbezogenen Daten ist uns ein wichtiges Anliegen. Wir verarbeiten diese Daten gemäß Bundesdatenschutzgesetz, EU-Datenschutzgrundverordnung (DSGVO) und Telemediengesetz.
    </p>
    <p>
    Diese Webseite wird vom Digital Education Bridge e.V. betrieben. Er ist Verantwortlicher im Sinne der datenschutzrechtlichen Vorschriften. Bei Fragen und Anregungen hinsichtlich unseres Umgangs mit Ihren Daten wenden Sie sich bitte an die Kontaktadresse in unserem Impressum oder unsere Beauftragte für den Datenschutz unter: info@digitaleducationbridge.org
    </p>

    <p>
    Umgang mit personenbezogenen Daten
    </p>
    <p>
    Wir verarbeiten Ihre personenbezogene Daten, z. B. Name, Kontaktdaten, IP-Adresse oder sonstige Angaben, die mit Ihrer Identität in Verbindung stehen, auf der Grundlage des Art. 6 DSGVO zur Wahrung unseres berechtigten Interesses an der Erfüllung unserer Satzungsaufgabe, zur Erfüllung einer Vereinbarung mit Ihnen oder soweit Sie eingewilligt haben. Wir verwenden Ihre Daten ausschließlich für den Zweck, zu dem Sie uns diese überlassen haben.
    </p>
    <p>
    Bei der Kontaktaufnahme über unser Kontaktformular (verschlüsselte Übertragung) oder per E-Mail werden Ihre Angaben zwecks Bearbeitung der Anfrage sowie für Rückfragen gespeichert.
    </p>
    <p>
    Wenn Sie sich bei uns für eine Mitgliedschaft bewerben, werden Ihre Angaben ausschließlich zur Bearbeitung Ihrer Bewerbung verwendet und nicht an Dritte weitergegeben. Bitte beachten Sie, dass Bewerbungen, die Sie uns per E-Mail senden, unverschlüsselt übertragen werden.
    </p>

    <p>
    Recht auf Auskunft, Berichtigung und Löschung
    </p>
    <p>
    Sie haben das Recht, unentgeltlich Auskunft darüber zu erhalten, ob und welche personenbezogenen Daten wir von Ihnen gespeichert haben, Art. 15 DSGVO. Sollten wir Ihre persönlichen Daten unrichtig gespeichert haben, können Sie die Angaben berichtigen lassen. In den Fällen, in denen wir Ihre persönlichen Daten zur Erfüllung unseres Satzungszwecks gemäß Art. 6 Abs. 1 f) DSGVO verarbeiten, können Sie begründeten Widerspruch gegen diese Verarbeitung einlegen. Soweit keine gesetzlichen Aufbewahrungspflichten entgegen stehen, können Sie jederzeit die Löschung Ihrer Daten verlangen, Art. 17 f. DSGVO. Bitte kontaktieren Sie uns unter: info@digitaleducationbridge.org.
    </p>

    <p>
    Widerruf der Einwilligung
    </p>
    <p>
    Sofern Sie uns eine Einwilligung zur Verarbeitung Ihrer persönlichen Daten erteilt haben, z. B. bei der Anmeldung für unseren elektronischen Newsletter, oder eine Mitgliedschaft, können Sie diese gemäß Art. 7 Abs. 3 DSGVO jederzeit mit Wirkung für die Zukunft widerrufen. Richten Sie Ihren formlosen Widerruf an: info@digitaleducationbridge.org
    </p>

    <p>
    Weitergabe an Dritte
    </p>
    <p>
    Eine Weitergabe Ihrer Daten an Dritte erfolgt nicht.
    </p>

    <p>
    Verwendung von "Cookies"
    </p>
    <p>
    Wie viele andere Internet-Anbieter verwenden wir im Rahmen unseres Online-Angebotes so genannte Cookies. "Cookies" sind Dateien, die für die Dauer Ihres Besuchs auf unserer Webseite auf Ihrem Computer, Smartphone o. ä., gespeichert werden, um festzuhalten, wie Sie sich als Nutzer auf unserer Webseite bewegen. Sie tragen dazu bei, dass Sie z. B. reibungslos navigieren, mehrstufige Bestellvorgänge abwickeln können oder die gewählte Schriftgröße beim Wechsel auf Unterseiten unverändert bleibt.
    </p>
    <p>
    Gängige Web-Browser sind standardmäßig so eingestellt, dass sie "Cookies" akzeptieren. Sie können diese Einstellung verändern, sodass "Cookies" abgelehnt oder vorher eine Bestätigung von Ihnen erfragt wird. Wenn Sie "Cookies" ablehnen, kann es passieren, dass Sie bestimmte Funktionen unseres Online-Angebots nicht mehr vollumfänglich nutzen können.
    </p>

    <p>
    Beschwerderecht
    </p>
    <p>
    Bei offenen Fragen zum Schutz Ihrer personenbezogenen Angaben, die Sie dem Digital Education Bridge e.V. überlassen haben bzw. die der Digital Education Bridge e.V. von Ihnen verarbeitet, nehmen Sie bitte Kontakt mit uns auf unter: info@digitaleducationbridge.org damit wir den Schutz Ihrer Daten prüfen und durchgängig gewährleisten können.
    </p>

    <p>
    Wenn Sie der Ansicht sind, der Digital Education Bridge e.V. verstoße bei der Verarbeitung Ihrer personenbezogenen Daten gegen datenschutzrechtliche Vorschriften, haben Sie das Recht auf Beschwerde bei einer Aufsichtsbehörde. Zuständige Aufsichtsbehörde ist die Berliner Beauftragte für den Datenschutz und Informationsfreiheit, Friedrichstraße 219, 10969 Berlin.
    </p>
  </div>
</div>
