<div class="landingpagebanner" background-color="green">
  <div class="container">
    <h1 class="landingpagetitle"><strong>Free Education.</strong></h1>
    <h1 class="landingpagetitle"><strong>Powered through the Internet.</strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <a href="#" class="navbar-brand">
      <img src="<%= asset_path('nicaraguachildstudying.jpg') %>" alt="nicaraguan-boy-studying">
    </a>
  </div>

  <div class="col-9">

  </div>

</div>

<div class="row">
  <div class="col-9">

  </div>

  <div class="col-3">
    <a href="#" class="navbar-brand">
      <img src="<%= asset_path('ProyectoIngles_Zoom.jpg') %>" alt="DigitalEducationBridge-Zoom-Class">
    </a>
  </div>

</div>
