<div class="banner" background-color="green">
  <div class="container">
   <div class="deb-slogan"><strong>FREE EDUCATION. <br> POWERED TROUGHT THE INTERNET.</strong></div>
  </div>
</div>


<div class="imgnav">
<img src="<%= asset_path('nicaraguachildstudying.jpg') %>" alt="Child studying" max-width="600" height="400">
</div>

<div class="debmission-text">
<p class="mission-text">Our Mission</p>
<p class="opp-text"><strong>Creating Opportunities</strong></p>
<p class="deb-text">Digital Education Bridge leverages the internet to overcome local education gaps in developing countries. Our experienced teachers give weekly remote classes to small batches of promising studentes. We are a 100% remote NGO dedicated to reduce poverty by creating opportunities through education. </p>
</div>


<div class="banner" background-color="green">
<div class="debvision-text">
<p class="vision-text">Our Vision<p>
<p class="ed-text"><strong>Education to empower</strong></p>
<p class="bio-text">We believe in the power of education. Unlocking opportunities for thousands of teenagers in developing countries to learn languages, study abroad, acquire high-demand digital skills, and create better lives for their families. Education is the key to a brighter tomorrow!</p>
<div class="imgzoom">
<img src="<%= asset_path('proyectoingles.jpg') %>" alt="zoom meeting class" max-width="600" height="400"></div>

</div></div>
