<div class="banner" background-color="green">
  <div class="container">
    <h1><strong>Legal notice</strong></h1>
  </div>
</div>

<div class="text-container">
  <div class="textcontent">
    <h2>
    Impressum
    </h2>
    <p>
    Digital Education Bridge e.V.
    </p>
    <p>
    Gegründet am 12.10.2023 in Berlin.
    </p>
    <p>
    Rechtssitz des Vereins ist Berlin.
    </p>
    <p>
    Satzungsgemäße Aufgabe des Vereins und seiner Mitglieder ist die Förderung der Entwicklungszusammenarbeit. Dieser Zweck wird verwirklicht durch die
    Förderung von Bildungswesen und bevölkerungspolitischen Maßnahmen durch das
    kostenlose Angebot digitaler oder analoger Bildungs- und Unterstützungsangebote in
    Entwicklungsländern, zur Förderung der persönlichen und beruflichen Entwicklung
    der Begünstigten.
    </p>
    <p>
    Email: info@digitaleducationbridge.org
    </p>
    <p>
    Vereinsvorstand:
    </p>
    <p>
    Vorstandsvorsitzender: Nikolai Regehr
    </p>
    <p>
    Vizevorstandsvorsitzende: Fahrina Bestvater
    </p>
    <p>
    Schatzmeister: Maxime Fischer
    </p>
  </div>
</div>
