.banner {
  background-size: cover;
  background-position: center;
  background-color: rgb(18, 79, 18);
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-home {
  background-size: cover;
  background-position: center;
  background-color: rgb(18, 79, 18);
  padding: 40px 0;
  text-align: center;
}
