.navbar-deb {
  justify-content: space-between;
  background: white;
  font-family: var(--font-dm-sans);
  margin-bottom: auto;
}

.navbar-deb .navbar-collapse {
  flex-grow: 0;
}

.navbar-deb .navbar-brand img {
  width: 50px;
  height: 30px;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-deb .navbar-nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-deb .nav-item.dropdown {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
}

// .signup-btn {
//   width: 180px;
//   height: 40px;
//   background-color: #add29b;
//   border: 1px solid transparent;
//   border-radius: 8px;
//   padding: 6px;
//   font-size: 16px;
//   font-weight: 500;
// }

.nav-item.dropdown {
  margin-left: auto; /* Keeps this element to the right */
  margin-right: 30px; /* Add some margin to the right side */
  font-size: 20px;
  cursor: pointer;
}

.signup-btn:hover {
 border-color: #b3b3b3;
 background-color: #87b68c;
 transition: 0.4s;
}

.languages__header {
  margin-left: 16px;
}

.flag-images {
  margin: 8px 8px 0 16px;
  display: flex;
  gap: 5px;
}

.flag-images img {
  width: 30px;
  height: 20px;
  border-radius: 4px;
  opacity: 0.7;
}

.flag-images img:hover {
  opacity: 1;
}

.btn.btn-green {
  color: #fff !important;
  background-color: rgb(18, 79, 18) !important; /* Green color */
  border-color: #4d845a !important; /* Green color */
  width: 200px; /* Adjust the width as needed */
  height: 40px;
  text-decoration: none !important; /* Remove underline */
  padding: 10px; /* Add padding for better appearance */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.btn.btn-green:hover {
  background-color: #218838 !important; /* Darker green color on hover */
  border-color: #1e7e34 !important; /* Darker green color on hover */
}
